body {
    font-size: 7px;
    color: white;
}



div [class^="col-"] {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.container {
    background-color: blue;
}

.green {
    background-color: yellowgreen;
}